html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.large-banner {
  text-align: center;
  font-size: 80px;
}
.footer {
  position: absolute;
  overflow: hidden;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.main {
  padding: 40px 15px;
  text-align: center;
}
.nav-btns {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.footer .left,
.footer .right {
  height: 60px;
  line-height: 60px;
}

.input-group-btn {
  padding-left: 5px;
  vertical-align: bottom;
}

.tile {
  padding-left: 6px;
  padding-right: 6px;
}

.tile_north {
  white-space: normal;
  text-transform: none;
  text-align: left;
  font-size: 12px;
  overflow: hidden;
}

.tile_south {
  white-space: normal;
  text-transform: none;
  text-overflow: ellipsis;
  text-align: left;
  font-size: 12px;
  height: 2em;
  overflow: hidden;
}

.tile_img {
  width: 50px;
  height: 50px;
  border-left: 4px;
  border-right: 4px;
}

.tile_img img {
  width: 50px;
  height: 50px;
}

.tile_title {
  font-weight: bold;
}

.tile_body, .tile_title {
  padding-left: 54px;
  padding-right: 54px;
}

.tile_tag {
  margin-left: 4px;
  margin-right: 4px;
  padding: 0px 2px 0px 2px;
  display: inline-block;
}
