<div class="navbar navbar-default">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/"><i class="fa fa-cube"></i> {{ site.name }}</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
          <li {% if page.nav == 'nav1' %} class="active" {% endif %}><a href="{{ site.accounturl }}/">Account</a></li>
          <li {% if page.nav == 'nav2' %} class="active" {% endif %}><a href="{{ site.searchurl }}/">Search</a></li>
          <li {% if page.nav == 'nav3' %} class="active" {% endif %}><a href="{{ site.favoritesurl }}/">Favorites</a></li>
          <li {% if page.nav == 'nav4' %} class="active" {% endif %}><a href="{{ site.submiturl }}/">Submit</a></li>
          <li {% if page.nav == 'nav4' %} class="active" {% endif %}><a href="{{ site.logouturl }}/">Logout</a></li>
      </ul>
  </div>
</div>
