<div class="container">
  <a href="javascript:void(0)" class="btn btn-default btn-raised tile">
    <div class="tile_north">
      <div class="tile_img left">
          <img class="media-object" src="{{include.value.image}}">
      </div>
      <div class="tile_img right">
          <img src="{{include.value.image}}">
      </div>
      <div class="tile_title">
        <p>{{include.value.name}}</p>
      </div>
      <div class="tile_body">
        <p>{{include.value.details}}</p>
      </div>
    </div>
    <div class="tile_south">

    </div>
  </a>
</div>
