<div class="container">
  <a href="javascript:void(0)" class="btn btn-default btn-raised">
    <div class="media">
      <div class="media-left">
        <img class="media-object tile_img" src="{{include.value.image}}">
      </div>
      <div class="media-body">
        <h4 class="media-heading">{{include.value.name}}</h4>
        <p>{{include.value.details}}</p>
      </div>
      <div class="media-right">
        <img class="media-object tile_img" src="{{include.value.image}}">
      </div>
    </div>
  </a>
</div>
