<div id="{{ include.id }}" class="container" style="display:none">
  <a id="{{ include.value.id }}" href="{{ site.url }}{{ site.detailsurl }}?d={{ include.value.id }}" class="btn btn-default btn-raised tile">
    <div class="tile_north">
      <div class="tile_img left">
          <img class="media-object" src="{{include.value.image}}">
      </div>
      <div class="tile_stats right">
        <p>
          <i class="fa fa-star"></i>
          <br>{{ include.value.favorites }}
        </p>
        <p>
          <i class="fa fa-comments"></i>
          <br>{{ include.value.comments }}
        </p>
      </div>
      <div class="tile_title">
        <h4>{{include.value.name}}</h4>
      </div>
      <div class="tile_body">
        <p>{{ include.value.details | truncate: 156, '...' }}</p>
      </div>
    </div>
    <div class="tile_south">
      <div class="tile_tags left">
        <div>
          {% for tag in include.value.tags %}
            <div class="tile_tag btn-material-blue">{{ tag }}</div>
          {% endfor %}
        </div>
      </div>
    </div>
  </a>
</div>
