<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <!-- *********************** Meta ************************* -->
    {% include meta.html %}
    <!-- ********************* END Meta *********************** -->

    <!-- ******************** Stylesheets ********************* -->
    {% include stylesheets.html %}
    <!-- ****************** END Stylesheets ******************* -->
  </head>

  <body>
    <!-- ******************* Navigation Bar ******************* -->

    {% if page.nav_type == 'restricted' %} {% include restricted_navbar.html %}{% else %}{% include navbar.html %}{% endif %}
    <!-- ***************** END Navigation Bar ***************** -->

    <!-- ******************** Main Content ******************** -->
    <div id="main" role="main">
      {{ content }}
    </div>
    <!-- ****************** END Main Content ****************** -->

    <!-- ********************* Javascript ********************* -->
    {% include global.js %}
    {% if page.title == 'Details' %} {% include details.js %} {% endif %}
    {% if page.title == 'Search Results' %} {% include search.js %} {% endif %}
    {% if page.title == 'Sign up' %} {% include signup.js %} {% endif %}
    {% if page.title == 'Account' %} {% include account.js %} {% endif %}
    <!-- ******************* END Javascript ******************* -->
  </body>
</html>
